{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block title %}
Store Book
{% endblock title %}

{% block content %}
<section class="">
  {% if sec_title %}
    {% include 'section_title.html' with section_title=sec_title %}
  {% else %}
    {% include 'section_title.html' with section_title="Add Book" %}
  {% endif %}
  
  <form class="" method="post">
    {% csrf_token %}
    {{form|crispy}}

    <div class="flex justify-center item-center">
      <button type="submit" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">Submit</button>
    </div>
  </form>
</section>
{% endblock content %}