{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'favicon.ico'%}" />
  <!-- stylesheet -->
  <link rel="stylesheet" href="{% static 'base.css' %}" />
  <!-- tailwindcss cdn -->
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- adding stylesheets for specific css files -->
  {% block stylesheets %} {% endblock %}

  <title> {% block title %} {% endblock %} </title>

</head>
<body>
  <header>
    {% block nav %} {% include 'navbar.html' %} {% endblock %}
  </header>

  <main class="w-full max-w-screen-xl mx-auto p-4" >
    {% block section_title %} {% endblock %}

    {% block content %} {% endblock %}
  </main>

  <!-- add extra js file according to html -->
  {% block js_contents %} {% endblock %}
  <!-- fontawesome icons cdn -->
  <script src="https://kit.fontawesome.com/f4873ebcd9.js" crossorigin="anonymous"></script>
</body>
</html>